page-reset {
    .content{
        background-color:#F7E7E9;
        background-repeat: no-repeat;
        background-position:center;
     
       
    }
    .item{
        background: transparent;
    }
   
}

